body {
  background: lightskyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-size: 40px;
  font-family: system-ui;
  color: white;
  text-shadow: 1px 1px 1px black;
}

